<div id='full_map'></div>
<script type="text/javascript" charset="utf-8">
$(document).ready( function() {
  <% @map.items.each do |item| %>
    addItem(<%= item.to_json.html_safe %>);
  <% end %>  
});
</script>
<% @map.items.each do |item| %>
  <div id="item<%= item.id %>" class="map_item">
    <div class="item_inner">
      <img id="item<%= item.id %>image" src="<%= item.upload.image.url(:display) %>" />
      <div class="item_description">
        <%= item.description %>
      </div>
    </div>
  </div>
<% end %>
